html {
  height: 1224px;
  width: 1440px;
  background-color: #86BBD8;

}
body{
  margin: 0;
  background-color: #86BBD8;
  background-size: 1440px;
}

#nosaukts{
  color: #000000;
  position: absolute;
  left: 923px;
  top: 120px;
  padding: 30px 10px;
  margin: 0px;
  font-size: 128px;
  z-index: 1;
}

#linijtp{
  width: 1440px;
  height: 1px;
  color:#2F4858 ;

}
#jauns{
  color: #2F4858;
  top: 900px;
  padding: 30px 10px;
  margin: 0px;
  font-size: 30px;
}
.apakša{
color: #FFFFFF;
background-color:  #2F4858;
  background-size: 1440px;
  padding: 10px 15px;
  margin: 0px;
}
.bildes1 ul{
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 200px;
  overflow: hidden;
}
.bildes1 li{
  float: left;
  padding: 10px 44px;
  margin: 0px;
}
.bildes1::after {
  content: "";
  clear: both;
  display: table;
}
.bildes2 ul{
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.bildes2 li{
  float: left;
  padding: 10px 44px;
  margin: 0px;
}
.bildes2::after {
  content: "";
  clear: both;
  display: table;
}
.navig ul{
  list-style-type: none;
  background-color: #F6AE2D;
  padding: 0;
  margin: 0;
  overflow: hidden;
 
}
.navig a{
  color: #2F4858;
  text-decoration: none;
  padding: 30px 75px;
  display: block;
  text-align: center;
  font-size: 32px;
}
.navig li{
  float: left;
}
.vidus{
  text-align: center;
  font-size: 84px;
}

.vidus {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 50px;
}

.vidus section {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.vidus div {
  text-align: center;
}

.vidus img {
  width: 319px;
  height: 425px;
  margin-bottom: 20px;
}

.vidus p {
  margin: 0;
  text-align: center;
  width: 303px;
}
.skmlg {
  text-align: center;
}
.error{
  text-align: center;
}
